.clr-white {
	color: white;
}

.about_services {
	padding-top: 120px;
}
.about_services .static_special {
	font-weight: 700;
	background: -webkit-linear-gradient(-19deg, #8e54e9 10%, #4776e6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* dashboard page style */
table tbody tr td.sorting_1 a {
	color: white;
}
.edit-profile-form {
	text-align: center;
}
/* transaction details page style */
.details_info_img {
	width: 250px !important;
	float: right;
}
